<?xml version="1.0" ?>

<plugin>
	<requires>
		<import plugin="org.liveontologies.protege.explanation.justification.service"/>
	</requires>

	<extension id="JustificationService" point="org.liveontologies.protege.explanation.justification.JustificationService">
		<name value="Justification Service" />
		<class value="org.liveontologies.protege.explanation.justification.blackbox.JustificationComputationServiceImpl" />
	</extension>
</plugin>